:root {
    --menu: #F7D214;
    --hover: #72885a;
    --white: #fff;
    --footer: #C08261;
}

@font-face {
    font-family: "Amatic SC";
    src: url("../fonts/Amatic\ SC/AmaticSC-Regular.ttf");
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 60px auto 0;
    height: 15vh;
    font-family: "Amatic SC", cursive;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--footer);
}

footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-menu li a, footer .footer-menu li i {
    padding: 0 1rem;
    color: var(--menu);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

footer .footer-menu li:not(:last-child) {
    padding-right: 50px;
}

footer .footer-menu a:hover, footer .footer-menu li i:hover {
    color: var(--hover);
}

footer .footer-menu li:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

footer p {
    color: var(--white);
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
}