/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #000;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 50%;
    height: 60vh;
    background-image: url("../img/zebre.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.form-container {
    width: 80%;
    background: #c3bab57e;
    border-radius: 30px;
    box-shadow: 0 4px 30px #fff;
    backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 206, 141, 0.1);
}

.form-container h2 {
    text-align: center;
    margin: 10px 0;
    font-family: "Bree Serif", serif;
    position: relative;
    color: #fff;
}

.form-input {
    margin: 10px auto;
    position: relative;
    width: 50%;
    padding: 5px;
}

label {
    display: block;
    color: #000;
    font-family: "Bree Serif", serif;
    text-align: center;
    margin-bottom: 5px;
}

input {
    border: 2px solid #eee;
    padding: 5px 10px;
    font-size: 1rem;
    outline: 0;
    display: block;
    width: 80%;
    padding-left: 40px;
    margin: 0 auto;
}

.icon {
    position: absolute;
    left: 50px;
    top: 60%;
    font-size: 15px;
    color: #C3BAB5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.togglePassword {
    cursor: pointer;
}

.form-container button[type="submit"] {
    display: block;
    margin: 10px auto 10px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    background: #C08261;
    font-family: "Bree Serif", serif;
    padding: 10px 18px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

.form-container button[type="submit"]:hover {
    box-shadow: 1px 1px 18px 2px #C08261;
} */