@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #000;
    min-height: 100vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 30px auto 0;
}

.card {
    width: 300px;
    height: 360px;
    cursor: pointer;
    position: relative;
    text-align: center;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
}

.card:first-child {
    border-radius: 48% 52% 76% 24% / 40% 47% 53% 60%;
    background: url("../img/bufflee.jpeg") center/cover;
}

.card:nth-child(2) {
    border-radius: 31% 69% 30% 70% / 60% 20% 80% 40%;
    background: url("../img/aigle.jpg") center/cover;
    background-position: right 85% bottom 45%;
}

.card:nth-child(3) {
    border-radius: 54% 46% 50% 50% / 32% 78% 22% 68%;
    background: url("../img/python.jpg") center/cover;
}

.card:not(:last-child) {
    margin-right: 40px;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    color: #fff;
}

.card:hover .card-title {
    opacity: 1;
    font-size: 2rem;
}