@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: "Amatic SC";
    src: url("../fonts/Amatic\ SC/AmaticSC-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

/* NAV BAR */
.main-menu {
    /* background-color: #72885a; */
    background-color: #154030;
}

.main-menu .menu-link a {
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Amatic SC", cursive;
}

.main-menu .menu-link a::after {
    content: "";
    display: block;
    background-color: #F4D017;
    width: 0;
    height: 3px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.main-menu .menu-link a:hover::after {
    content: "";
    display: block;
    background-color: #F4D017;
    width: 100%;
    height: 3px;
    margin: 0 auto;
}

.main-menu .menu-link i {
    color: #F4D017;
}


/* BANNER */
.banner {
    background-image: url("../img/banner.jpg");
    background-position: bottom center;
    background-size: cover;
    height: 60vh;
    position: relative;
}

.title {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.95);
    z-index: 10;
}


/* PRESENTATION */
#presentation {
    background-color: #154030;
}

.presentation-img-container {
    border-radius: 44% 56% 70% 30% / 37% 44% 56% 63%;
    background-image: url("../img/landscape.jpeg");
    background-position: center;
    background-position: center;
}

.description-container {
    color: rgba(255, 255, 255, 0.95);
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

#species-redirection, #safari-choice {
    cursor: pointer;
    color: #F4D017;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

#species-redirection:hover, #safari-choice:hover {
    color: #154030;
}