@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: "Amatic SC";
    src: url("../fonts/Amatic\ SC/AmaticSC-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

/* NAV BAR */
.main-menu {
    background-color: #72885a;
}

.main-menu .menu-link a {
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Amatic SC", cursive;
}

.main-menu .menu-link a::after {
    content: "";
    display: block;
    background-color: #F4D017;
    width: 0;
    height: 3px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.main-menu .menu-link a:hover::after {
    content: "";
    display: block;
    background-color: #F4D017;
    width: 100%;
    height: 3px;
    margin: 0 auto;
}

.main-menu .menu-link i {
    color: #F4D017;
}


/* BANNER */
#banner {
    border: solid 1px red;
}

h1 {
    text-align: center;
}